name: CI MLflow Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  train:
    runs-on: ubuntu-latest

    env:
      # tracking ABSOLUTE (aman, gak "run not found")
      MLFLOW_TRACKING_URI: "file:${{ github.workspace }}/mlruns"
      MLFLOW_LOG_LEVEL: "WARNING"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install minimal deps
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      - name: Run MLflow Project (TRAINING)
        run: |
          set -e
          python -m mlflow run "MLProject-Folder" --env-manager=local \
            -P input_file="${{ github.workspace }}/MLProject-Folder/PRSA_Data_Aotizhongxin_preprocessing.csv" \
            -P n_estimators=100 \
            -P max_depth=20

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: training-artifacts
          path: |
            mlruns
            artifacts
          if-no-files-found: warn
